.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

/* ------------------------------ */
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');
/* MY ROOT CUSTOM VARIABLES */
:root{
--clr-primary-orange:hsl(25, 97%, 53%);
--clr-neutral-100:hsl(0, 0%, 100%);
--clr-neutral-400:hsl(217, 12%, 63%);
--bg-neutral-500:hsl(216, 12%, 54%);
--bg-neutral-600: hsla(213, 19%, 22%);
--bg-neutral-700:hsl(213, 19%, 17%);
--bg-neutral-800:hsl(216, 12%, 8%);

--ff-default:'Overpass', sans-serif;

--fw-400:400;
--fw-700:700;

--fs-400:1rem;
--fs-500:1.125rem;
--fs-600:1.25rem;
--fs-700:1.5rem;
--fs-800:2rem;

}
/* Modern css reset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* MY CSS STARTS HERE */
body{
    display: grid;
    place-content: center;
    background-color: var(--bg-neutral-800);
    color: var(--clr-neutral-400);
    font-size: var(--fs-400);
    font-family: var(--ff-default);
    font-weight: var(--fw-700);
}

.container{
    --padding:2.5rem;
    max-width: 30rem;
    background-color: var(--bg-neutral-700);
    padding: var(--padding);
    margin: 2rem;
    display: grid;
    gap: 1rem;
    border-radius: 2.5rem;
}

.title{
    font-size: var(--fs-800);
    color: var(--clr-neutral-100);
    padding: 1.25rem 0 .5rem 0;
}
.flex-flow{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin:1.25rem 0;
}
.star{
    padding: 1rem;
    background-color: var(--bg-neutral-600);
    border-radius: 50%;
}
.circle{
    background-color: var(--bg-neutral-600);
    color: var(--clr-neutral-400);
    font-size: var(--fs-500);
    padding: 1.125rem 1.6rem;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    display: grid;
    place-content: center;
}
.circle:hover,.circle:focus{
    background-color: var(--clr-primary-orange);
    color: var(--clr-neutral-100);
}


.submit{
    background-color: var(--clr-primary-orange);
    color: var(--clr-neutral-100);
    border: none;
    border-radius: 100vw;
    padding: .7rem;
    text-transform: uppercase;
    font-size: var(--fs-500);
    font-weight: var(--fw-400);
    letter-spacing: 3px;
    cursor: pointer;
}
.submit:hover,.submit:focus{
    background-color: var(--clr-neutral-100);
    color: var(--clr-primary-orange);
}

.result{
    display: grid;
    place-items: center;
    font-weight: var(--fw-400);
    padding: 3.5rem 3rem;
    text-align: center; 
    display: none;
}

.result .selected{
    color: var(--clr-primary-orange);
    padding: .5rem 2rem;
    background-color: var(--bg-neutral-600);
    border-radius: 100vw;
    margin: 1.5rem 0 .5rem 0;
    font-weight: var(--fw-700);
}
.questionary{
    /* display: none; */
}



/* JS classes */

#clicked{
    background-color: var(--bg-neutral-500);
    color: white
}
